# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = darkweb_crawler.settings

[deploy]
#url = http://localhost:6800/
project = darkweb_crawler
HTTPPROXY_ENABLED = True
HTTPPROXY_PROXY = socks5h://127.0.0.1:9050